body{
  background-color:#FFFFFF !important;
  background-image: url("../img/bg-watson.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
}
.header{
  color: #343a40;
}
.header h1{
  font-size: 350%;
}
.header p{
  font-size: 150%;
}
.carousel{
  background-color: #093C2C;
}
.navbar-dark{
  background-color: #093C2C !important;
}

.hero{
  background-color: #343a40;
  min-height:240px;
}
/* === HERO BLOCK === */
.container-hero h1 {
	font-size: calc(42px + (82 - 42) * ((100vw - 320px)/(1600 - 320)));
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:15% 5% 10% 5%;
}
.container-hero-cv h1{
	font-size: calc(42px + (82 - 42) * ((100vw - 320px)/(1600 - 320)));
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:5% 5% 3% 5%;
	color: #3b99e0;
}
.container-hero-top h1{
	font-size: calc(42px + (82 - 42) * ((100vw - 320px)/(1600 - 320)));
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:6% 5% 10% 5%;
}
.container-hero-cl h1{
	font-size: calc(42px + (82 - 42) * ((100vw - 320px)/(1600 - 320)));
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:8% 5% 10% 5%;
}


/* Carousel*/

@media (max-width:991.98px) {
  .padding {
      padding: 1.5rem
  }
}

@media (max-width:767.98px) {
  .padding {
      padding: 1rem
  }
}

.padding {
  padding: 5rem
}

.card {
  position: relative;
  display: flex;
  width: 350px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 11px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.card .card-body {
  padding: 1rem 1rem
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem
}

p {
  font-size: 0.875rem;
  margin-bottom: .5rem;
  line-height: 1.5rem
}

h4 {
  line-height: .2 !important
}

.profile {
  margin-top: 16px;
  margin-left: 11px
}

.profile-pic {
  width: 58px
}

.cust-name {
  font-size: 18px
}

.cust-profession {
  font-size: 10px
}

.items {
  width: 90%;
  margin: 0px auto;
  margin-top: 100px
}

.slick-slide {
  margin: 10px
}

/* =============== BEGIN CONTACT FORM CSS ============= */

/* == Contact form container == */

/* All screens */
.container-contact-form { 
	text-align: center;  
}

/* Desktop */
@media all and (min-width:1024px) { 
	.container-contact-form {
		margin: 2% 23% 2% 23%;
		padding: 2% 4% 1% 4%
	}
}

/* Mobiles */
@media all and (max-width:1023px) { 
	.container-contact-form { 
		margin: 6% 8% 18% 8%;
		padding: 7% 8% 8% 8%;
	}
}
@media all and (max-width:760px) { 
	.container-contact-form { 
		margin: 15% 8% 18% 8%;
	}
}
@media all and (max-width:420px) { 
	.container-contact-form { 
		margin: 20% 8% 18% 8%;
	}
}

/* == Contact form heading and text == */

/* Heading */
.container-contact-form h3 { 
	font-weight: bold; 
	color: #343434;
	line-height: 1.2;
	margin-bottom: 3%;
	font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

/* Text */
.container-contact-form p { 
    font-weight: normal;
    color: #000; 
	line-height: 1.5;
	margin-bottom: 7%;
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

/* == Contact form fields == */

#contact-form .flex-row { display: flex; justify-content: space-between }

/* Desktop */
@media all and (min-width: 1024px) {
	#contact-form .flex-row { flex-direction: row; text-align: left; margin-bottom: 6% }
	#contact-form .flex-row .item-name,
	#contact-form .flex-row .item-email { width: 47% }
	#contact-form .flex-row .item-textarea { width: 64% }
	#contact-form .flex-row .item-btn { width: 30%; align-self: flex-end }
}

/* Mobiles */
@media all and (max-width: 1023px) {
	#contact-form .flex-row { flex-direction: column; text-align: center; }
}

#contact-form label, #contact-form input, #contact-form textarea {
	color: #000;
	display: block;
}

#contact-form label {
	font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320))); 
	font-weight: bold;
	margin-bottom: 8px;
	display: flex;
	align-items: baseline;
}

#contact-form [type="text"], 
#contact-form [type="email"],
#contact-form textarea { width: 100% }
#contact-form ::placeholder { font-size: 94% }

/* Mobiles */
@media all and (max-width: 1023px) { 
	#contact-form [type="text"], 
	#contact-form [type="email"],
	#contact-form textarea { margin-bottom: 20px }
}

#contact-form input, #contact-form textarea {
	padding: 10px 12px;
	border: 2px solid #4090ff;
	background-color: #f0f0f0;
	border-radius: 5px;
}

#contact-form input:focus,
#contact-form textarea:focus {
	background-color: #fff;
}

#contact-form.flex-row .item-btn { width: 26% }

#contact-form #btn-submit { 
	float: right; 
    background-color: #4090ff;
    color: #fff;
	font-weight: bold;
    padding: 18px 28px;
    font-size: 18px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100px
}


#contact-form #btn-submit:hover, 
#contact-form #btn-submit:active { 
    background-color: #343434;
    color: #E8AF15;
    transform:scale(1.1);
    transition: 1s;
}

#contact-form #btn-submit i.fas {
	margin-left: 9px;
	font-size: 104%
}

/* Footer*/
.container-footer { 
	display: flex;
	justify-content: space-between;
    background-color: #093C2C;
    padding: 3% 8% 3% 8%;
}
.container-footer h4,
.container-footer p,
.container-footer p i,
.container-footer a {
   color: #d9edf4
}


/* == Services Page AOS setup == */

* {
  box-sizing: border-box;
}

.aos-services {
  width: 950px;
  height: 600px;
  margin: 50px auto;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(36, 33, 35, 0.8);
  text-align: justify-content;
  color: #FFF;
  font-size: 20px;
  font-family: Lucida Sans Typewriter;
  border-radius: 25px;
  border: 2px solid #73AD21;
  overflow: hidden;
  align-items: center;
}

.aos-services-img-1 {
  width: 950px;
  height: 600px;
  margin: 50px auto;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(36, 33, 35, 0.8);
  background-image: url("../img/cat-fridge.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: justify-content;
  color: #FFF;
  font-size: 20px;
  font-family: Lucida Sans Typewriter;
  border-radius: 25px;
  border: 2px solid #73AD21;
  overflow: hidden;
  align-items: center;
}

.aos-services-img-2 {
  width: 950px;
  height: 600px;
  margin: 50px auto;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(36, 33, 35, 0.8);
  background-image: url("../img/office-spy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: justify-content;
  color: #FFF;
  font-size: 20px;
  font-family: Lucida Sans Typewriter;
  border-radius: 25px;
  border: 2px solid #73AD21;
  overflow: hidden;
  align-items: center;
}

.aos-services-img-3 {
  width: 950px;
  height: 600px;
  margin: 50px auto;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(36, 33, 35, 0.8);
  background-image: url("../img/cheeky-stuff.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: justify-content;
  color: #FFF;
  font-size: 20px;
  font-family: Lucida Sans Typewriter;
  border-radius: 25px;
  border: 2px solid #73AD21;
  overflow: hidden;
  align-items: center;
}

/* == List styles for AOS boxes == */

.row{
	justify-content:space-between;
}

.service-description{
  color: #FFF;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.aos-services h2{
	color: white;
	text-align: center;
	text-transform: uppercase;
	
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	position: relative;
	margin: 5px 0 60px;
}

.aos-services ul {
  line-height: 1em;
  margin: 5px 0 0 15px;
  padding: 0 0 0 0;
  font-family: 'Montserrat', sans-serif;
}

.aos-services li {
  list-style: none;
  position: relative;
  padding: 0 0 20px 20px;  
  font-family: 'Montserrat', sans-serif;
}

li.circle-checkmark::before {
  content: ""; 
  position: absolute; 
  left: -1.5px; 
  top: 0; 
  border: solid 8px #f9dd94;
  border-radius: 8px;
}

li.circle-checkmark::after {
  content: ""; 
  position: absolute; 
  left: 5px;
  top: 5px;
  width: 3px;
  height: 6px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

li.cross::before {
  content: "";
  position: absolute;
  height: 15px;
  border-left: 2px solid #f9dd94;
  transform: rotate(45deg);
  top: 2px;
  left: 5px;
}

li.cross::after {
  content: "";
  position: absolute;
  height: 15px;
  border-left: 2px solid #f9dd94;
  transform: rotate(-45deg);
  top: 2px;
  left: 5px;
}


/* FEE SHOWCASE STYLE, PRICING TABLES */

@import url("https://fonts.googleapis.com/css?family=Montserrat");

.pricing-table{
  background-color: #eee;
  background: rgba(36, 33, 35, 0.8);
  font-family: 'Montserrat', sans-serif;
}

.pricing-table .block-heading {
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center; 
  color: white;
}

.pricing-table .block-heading h2 {
  color: #3b99e0;
  font-size: 42px;
  margin-bottom: 20px;  
}

.pricing-table .block-heading p {
  text-align: center;
  max-width: 600px;
  margin: auto;
  opacity: 0.7; 
  font-size: 19px;
}

.pricing-table .heading {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.pricing-table .item {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  border-top: 2px solid #5ea4f3;
  border-radius: 25px;
  padding: 30px;
  overflow: hidden;
  position: relative; 
  margin-bottom: 60px;
}

.pricing-table .col-md-5:not(:last-child) .item {
  margin-bottom: 30px; 
}

.pricing-table .item button {
  font-weight: 600; 
}

.pricing-table .ribbon {
  width: 160px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
  background: #4dbe3b;
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 7px; 
}

.pricing-table .item p {
  text-align: center;
  margin-top: 20px;
  opacity: 0.7; 
}

.pricing-table .features .feature {
  font-weight: 600; }

.pricing-table .features h4 {
  text-align: center;
  font-size: 18px;
  padding: 7px; 
}

.pricing-table .price h4 {
  margin: 40px 0;
  font-size: 45px;
  text-align: center;
  color: #2288f9; 
}

.pricing-table .voucher h4 {
  margin: 40px 0;
  font-size: 23px;
  text-align: center;
  color: #2288f9; 
}

.pricing-table .buy-now button {
  text-align: center;
  margin: auto;
  font-weight: 600;
  padding: 9px 0; 
} 

/* == Style for Accordion (Fees Voucher) == */

.accordion-collapse .voucher h4{
 margin: 32px 0;
  font-size: 20px;
  text-align: center;
  color: #2288f9; 	
	
}